body{
    background-image: url(assets/images/background.jpg);
}
#saeed{
    padding-left: 5px;
    padding-right: 5px;
}
.About{
    background-color: #ef0107;
    color: lightgrey;
}
.Portfolio{
    background-color: #9c824a;
    color: lightgrey;
}
.Contact{
    background-color: #063672;
    color: lightgrey;
}
.para{
    align-content: center;
}
h3{
    /* text-align: center; */
    margin-left: 150px;
}
#arslogo{
    float: left;
    padding: 30px;
    height: 200;
    width: 180;
}
#darker{
    background-image: url(assets/images/background.jpg); 
}
.submit{
    background-color: #ef0107;
}
.container{
    /* background-color: green; */
}
.caption{
    color:black;
}
.img-fluid{
    padding: 10px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /* height: 60px; */
    background-color: #9c824a;
  }