body{
    background-image: url(assets/images/background.jpg);
}
#saeed{
    padding-left: 5px;
    padding-right: 5px;
}
.About{
    background-color: #ef0107;
    color: lightgrey;
}
.Portfolio{
    background-color: #9c824a;
    color: lightgrey;
}
.Contact{
    background-color: #063672;
    color: lightgrey;
}
.footer{
    background-color: #9c824a;
}